<GridLayout>
    <Slider row="1" col="1" [value]="this.player.volume" (input)="volumeChanged($event)" class="slider"
            id="volumeslider" minValue="0" maxValue="100"></Slider>
    <Slider row="1" col="1" [(value)]="this.player.currentTime" (input)="currentTimeChanged($event)" class="slider"
            id="positionslider" minValue="0" [maxValue]="this.player.duration"></Slider>
    <!--Label text="{{this.player.currentTime || 0}}/{{this.player.duration || 0}}"></Label-->
    <Button class="btn" [text]="pausedText" (onTap)="this.player.tooglePause()"></Button>
    <Button class="btn" [text]="pausedText" (onTap)="this.player.skip()"></Button>
</GridLayout>